:root {
	--primary: #d34618;
	--secondary: #707070;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #e0e0e0;
	font-family: 'Avenir LT W01_45 Book1475508';
}
.home-page {
	background-color: var(--primary);
}
h1,
h2,
h3,
h4 {
	font-family: 'Avenir LT W01_65 Medium1475532';
}
h2 {
	font-size: 2em;
	line-height: 1.375;
	font-weight: 500;
}
h2 {
	font-size: 1.25em;
	line-height: 1.6;
	font-weight: 500;
}
p {
	line-height: 1.6rem;
}
