:root {
	--primary: #d34618;
	--secondary: #707070;
	--blue: #2a68a2;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
}
body {
	background-color: #e0e0e0;
	font-family: 'Avenir LT W01_45 Book1475508';
	transition: background-color 0.2s linear;
}
.home-page {
	background-color: var(--primary);
}
h1,
h2,
h3,
h4 {
	font-family: 'Avenir LT W01_65 Medium1475532';
}
h1 {
	font-size: 2rem;
	line-height: 1.375;
	font-weight: 500;
}
h2 {
	font-size: 1.25rem;
	line-height: 1.6;
	font-weight: 500;
}
p {
	line-height: 1.6rem;
}

input,
select,
textarea {
	font-family: 'Avenir LT W01_45 Book1475508';
}

input::placeholder,
input::-webkit-input-placeholder,
textarea::placeholder,
textarea::-webkit-input-placeholde {
	color: #767676;
}

input.number-field::-webkit-outer-spin-button,
input.number-field::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input.number-field[type='number'] {
	-moz-appearance: textfield;
}

.arrow-top {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 20px solid #fff;
}

.loader {
	border-top-color: var(--primary);
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
